/* checking the specificity of the id > class  */




  section.about .heading {
    color: red;
  }
  .about h2.heading {
    color:green;
  }
  .about .heading {
    color: orange;
  }
  li {
    color:orange;
  }
  ul li {
    color: blue;
  }
  .nav-link {
    color: magenta;
  }
 