section
{
    width: 90%;
    height: 1000px;
    /* background-image: url(https://media.istockphoto.com/id/1399856226/photo/magical-forest-landscape-with-sunbeam-lighting-up-the-golden-foliage.jpg?s=1024x1024&w=is&k=20&c=ibfgOeg5ij0P0z9knwKJaxy555SUtG3YnO-v0pgDnPE=); */
    background-size:contain;
    background: center/80% no-repeat url(https://media.istockphoto.com/id/636208094/photo/tropical-jungle.jpg?s=612x612&w=0&k=20&c=3S-pXUxM-gWEPK9ocEPU-KG3clexrw6iIru-8QYEfl0=) orange;
    margin: 0 auto;
}
h1 {
    font-size: 100px;
    color: white    ;
}