h1{
    color:blueviolet;
    text-align: center;
    font-weight: normal;
    text-decoration: orange  underline dashed;
    letter-spacing:15px;
    font-weight: 700;
}

h2{
    color:rgb(71, 165, 42);
    text-align: center;
    font-weight: normal;
    text-decoration: orange  underline dashed;
    letter-spacing:10px;
    font-weight: 700;
}
h3{
    color:rgb(42, 95, 165);
    text-align: center;
    font-weight: normal;
    text-decoration: rgb(255, 102, 0)  underline dashed;
    letter-spacing:10px;
    font-weight: 700;
}
a{
    text-decoration: none;
}
p{
    color:rgb(145, 255, 0);
    background:green;
    line-height: 2;

}