div{
width: 230px;
border-style: solid;
border-radius: 10px;
border-color: black;
border-width: 5px;
background-color: greenyellow;


}

img{
height: 250px;
width: 210px;
border-style: solid;
border-radius: 50%;
border-color: orange;
margin-top: 10px;
margin-left: 4%;
justify-content: center;
box-sizing: border-box;
}
h1 {
 text-align: center;
width: 230px;
}

p{
    margin-top: 10px;
}
h1 > p {

background-color: blueviolet;
margin-bottom: 30px;
width: 500px;
text-align: center;
font-size:x-large;
width: 230px;

}