/* universal selectors */
*{
    background-color: rgb(2, 83, 83);
}
/* element selector */
 button{
    font-size: 15px;
 }
 /* selector List */

 h1,h2, h3{
color: rgb(15, 4, 83);
 }

 /* ID Selector -- ID should be unique --- we give IDs to give properties to be specific to a particular button , element or text etc*/
#signup{
background-color: greenyellow;
color: blue;
}

/* #signup:hover {
    background-color: red;
    color: rgb(18, 221, 18);
} */
/* Class Selector */  
.border {
    background-color:rgb(7, 212, 92);
    
}

/* Descendent Selector --  select all elements that are nested inside the a particular tags
Examples-- select all the <a>'s tags that are nested inside the <li> tags

li a {
    color: teal;
        }
*/
 a {
    color:rgb(27, 145, 3);
}

a:hover {
    text-decoration:overline;
    color:rgb(27, 145, 3);
    background-color: black;
}
 div span a {
    color:rgb(226, 15, 180);
}

/* Adjacent Selector -- Select the only paragraphs <p> that are immediately proceed  by the by <h1>  

h1 + p { 

}
*/
 p + ul   {
    background-color: yellow;
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 + p   {
    background-color: rgb(21, 255, 0);
    color: rgb(99, 42, 165);
    font-family: Georgia, 'Times New Roman', Times, serif;


}
/* Direct Child -- Select only the <li>'s child that are direct children of <div> element

div > li {

}
*/
div > p {
    background-color: red;
    color: yellow;
}
/* Attribute selector --Select all input elements where the type attribute is set to "text"
 
input[type="text"] {
color : yellow;
width: 300px;
}
*/
/* it will provide the input in the password input in the given properties */
input[type= "password"] {
    color :red;
    width: 300px;
}
 
section[class= "border"]{
background-color: rgb(245, 54, 7);

}
/* it select the part of the link in the anchor tag if it matches the link then it will change the properties */
a[href*= "google"]{
    color:rgb(0, 211, 95);
}
/*  for Hovering  */
 
button:hover {
 background-color: red;
 color: white
}

/* .border button:hover {
    background-color: red;
    color: white
    
} */

button:active{
    background-color: black;
    color:white;
}
/* 
psuedo classes used

:active 
:checked
:first
:first-child
:hover
:not()
:nth-child()

*/


/*.class:nth-of-type(n or multiple of n ) - to select the and execute some particular properties we use this 

.class:nth-of-type(){

background-color:red;

}
or it can also be done in id as well

#id:nth-of-type(){

background-color:red;

}

*/



/* ---------pseudo elements -------------------------
keyword added to a selector that lets you style a particular part of the selected elements

* ::after

* ::before
* ::first-letter

* ::first-line

* :: selection


*/

h2::first-letter{
    font-size: 100px;
    color: black;
}

p::first-line{
    color:black;
    font-size: 25px;
}