div{
    padding-top: 20px;
width: 300px;
height: 150px;
background-color:rgb(210, 233, 197);
}

h1 {
width: 100px;
height: 50px;
background-color: orange;
padding-left: 5px;
padding-bottom: 5px;
border-radius: 10px;
}

#one {
    background-color: rgb(8, 153, 28);
    border-style: solid;
    border-width: 5px;
    border-color:rebeccapurple;
    box-sizing: border-box;
    border-radius: 10px;
}
#two {
    background-color: rgb(153, 8, 20);
    border-style: solid;
    border-width: 10px;
    border-color: orange;
    box-sizing:border-box;
    border-radius: 30%;

}
#three {
    background-color: rgb(129, 8, 153);
    border-style: dashed;
    border-width: 15px;
    border-color: rgb(190, 37, 9);
    box-sizing: border-box;
    border-radius: 10%;
}

/* -----------learnig about Padding now-------

Individual-properties:-
padding-top
padding-bottom
padding-left
padding-right

Shorthand Properties- set all the side at once

Apply to all four sides
Padding: 10px;

vertical | Horizontal
Padding: 5px 10px;

Top | Horizontal | Vertical
Padding: 1px 2px 2px;

Top | Right | Bottom | Left
Padding: 1px 2px 0px 2px;
*/
.first{
    background-color: green;
width: 100px;
height: 30px;
border-radius: 10px;
padding: 10px;
padding-bottom: 30px;
padding: 1px 2px 4px;
padding: 1px 2px 4px 8px;
}

.second {

 width: 150px;
height: 30px;
background-color: aqua;
border-radius: 10px;
padding: 1px 2px 4px;
}
.third {

    width: 150px;
   height: 50px;
   color: red;
   background-color: rgb(255, 187, 0);
   border-radius: 10px;
   padding: 5px 2px 4px 10px;
   }

   /* -----------learnig about Margin now-------

Individual-properties:-
Margin-top
Margin-bottom
Margin-left
Margin-right

Shorthand Properties- set all the side at once

Apply to all four sides
Margin: 10px;

vertical | Horizontal
Margin: 5px 10px;

Top | Horizontal | Vertical
Margin: 1px 2px 2px;

Top | Right | Bottom | Left
Margin: 1px 2px 0px 2px;
*/